@tailwind base;
@tailwind components;
@tailwind utilities;

.Application{
    width: 100vw;
    height: 100vh;
}

.sidebar{
    background-color: rgb(47, 47, 47);
    position: fixed;
    left: 0;
    top: 0;
    width: 15%;
    height: 100vh;
}

.content{
    position: fixed;
    height: 100vh;
    width: calc(100vw - 15%);
    left: 15%;
    top: 0;
}